.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.table th {
  font-weight: bold;
  color: #0000009e;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 2rem 1rem;
}

.table tbody tr {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
}

.table tbody td {
  padding: 1rem;
}

.table tbody td img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 10px;
}

.table tbody td a {
  text-decoration: none;
  background-color: rgba(44, 104, 255, 0.455);
  color: rgba(44, 104, 255);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.table tbody td button {
  width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(255, 44, 44);
}

.table tbody td button:hover {
  opacity: 0.6;
}

.table tbody td:first-child {
  border-left: none;
}

.table tbody td:last-child {
  border-right: none;
}
